@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* ============ HEADER ============ */
header {
    background-color: black;
    height: 43%;
}

header h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 10vw;
    padding-top: 50px;
    text-align: center;
}

header h2 {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 50px;
}

/* ========== PARAGRAPH =========== */
section {
    padding: 60px 0 60px 30px;
}

p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding-bottom: 12vh;
    line-height: 2em;
}

/* ======== PARALAX =========== */
.joana {
    background-color: #515151;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    padding: 10vh 0 10vh 2rem;
}

article {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.285);
}

p.inner_paralax {
    color: white;
    padding: 0px;
}

.papel {
    background: #515151 url(imagens/background002.jpg) right center/cover no-repeat fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.441);
    padding: 10vh 0 10vh 2rem;
}

/* =========== FOOTER =========== */
footer {
    color: white;
    background-color: black;
}

p.footer {
    padding: 0px;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}