@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: black;
    height: 43vh;
}

header h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 10vw;
    padding-top: 50px;
    text-align: center;
}

header h2 {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}